@using Models
@{
    ViewBag.Title = "Courses Manager";
    List<Subject> _data = new List<Subject>();

    if (ViewBag.Subject != null)
    {
        _data = ViewBag.Subject;
    }
}


<section class="page-section portfolio" id="courses">
    <div class="container">
        <!-- Portfolio Section Heading-->
        <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Courses</h2>
        <!-- Icon Divider-->
        <div class="divider-custom">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <!-- Portfolio Grid Items-->
        <div class="row">
            @foreach (var item in _data)
            {
                if (item.Status == "LIVE")
                {
                    <!-- Portfolio Item 1-->
                    <div class="col-md-6 col-lg-4 mb-5">
                        <div class="card shadow mb-4">
                            <div class="card-header py-3">
                                <div class="row">
                                    <div class="col-lg-9">
                                        <h6 class="m-0 font-weight-bold ">@item.Name</h6>
                                    </div>
                                    <div class="col-lg-2">
                                        <img src="~/Assets/assets/img/live.png" width="35" />
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                <span>
                                    Status:
                                    <p class="btn btn-primary"> <b>@item.Status</b> </p>
                                </span>
                                <p>@item.Description</p>
                                <p>Class : <b>AG238</b></p>
                                <p>Start At : @DateTime.Now</p>
                            </div>
                            <div class="card-footer" style="text-align: center">
                                <a href="@Url.Action("StartLearning","Learing" , new {subjectId = @item.Id})" class="btn btn-primary">Join Now</a>
                            </div>

                        </div>
                    </div>
                }
                else
                {
                    <div class="col-md-6 col-lg-4 mb-5">

                        <div class="card shadow mb-4">
                            <div class="card-header py-3">
                                <div class="row">
                                    <div class="col-lg-9">
                                        <h6 class="m-0 font-weight-bold ">@item.Name</h6>
                                    </div>
  
                                </div>
                            </div>
                            <div class="card-body">
                                <span>
                                    Status:
                                    <p class="btn btn-warning"><b>@item.Status</b> </p>
                                </span>
                                <p>@item.Description</p>
                                <p>Start At : @DateTime.Now</p>
                            </div>
                            <div class="card-footer" style="text-align: center">
                                <a href="javascript:void(0)" class="btn btn-default" style="background-color: darkgray;">Join Now</a>
                            </div>
                        </div>
                    </div>
                }



            }

        </div>
    </div>
</section>